:host {
	display: block;
}

section h2 {
	text-align: left !important;
	font-size: 18px !important;
	margin-bottom: 16px !important;
}

section > div {
	padding-top: 32px !important;
	padding-bottom: 32px !important;
}

section .grid > div {
	background: #fbfcfe !important;
	border-color: #dce4ee !important;
	border-radius: 5px !important;
	padding: 14px !important;
}

section .grid > div h3 {
	font-size: 12px !important;
}
